body:after {
  background-image: url(https://i.ibb.co/KXmvcwC/chrome-1-Ow0m-MOWx-S.png);
}

body:before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* Изображения снега: */
  background-image: url(https://i.imgur.com/TpOI4DC.png),
                    url(https://i.imgur.com/92lgmBN.png),
                    url(https://i.imgur.com/ACiIkIG.png);
  /* Размер изображений по порядку: */
  /* (размер уменьшен в 2 раза: снежинки больше похожи на точки, чем на  детские рисунки */
  /* (можно удалить) */
  background-size: 250px, 200px, 150px;
  /* Скорость анимации: */
  /* (чем больше время, тем медленнее идет снег) */
  animation: snow 16s linear infinite;
}

/* Анимация снега */
@keyframes snow {
  0% {
    background-position: 0px 0px,
                         0px 0px,
                         0px 0px;
  }
  100% {
    /* (Указан полный размер изображений по прядку, указанному в body:before) */
    background-position: 500px 1000px,
                         400px 400px,
                         300px 300px;
  }
}

.l-footer:after {
  content: "*Lilac Blizzard*";
}

/* Аниме/Манга/Ранобэ рядом с пунктами истории */
.history-page a:before {
  display: inline-block;
  vertical-align: top;
  width: 72px;
}
.history-page a[href ^= "/a"]:before {
  content: '[Аниме] ';
  color: #34a853;
}
.history-page a[href ^= "/m"]:before {
  content: '[Манга] ';
  color: #9c27b0;
}
.history-page a[href ^= "/r"]:before {
  content: '[Ранобэ] ';
  color: #039be5;
}
[data-locale="en"] .history-page a[href ^= "/a"]:before {
  content: '[Anime] ';
}
[data-locale="en"] .history-page a[href ^= "/m"]:before {
  content: '[Manga] ';
}
[data-locale="en"] .history-page a[href ^= "/r"]:before {
  content: '[Ranobe] ';
}
/* END of Аниме/Манга/Ранобэ рядом с пунктами истории */

.p-profiles .profile-head .c-brief .avatar {
  background: url("https://i.gifer.com/origin/73/732151bdbe7ba5d217746af5812d2c7d_w200.gif");
  background-size: cover;
  background-position: center;
}

img[title="IvanAstran"] {
  visibility: hidden;
}

.p-profiles .profile-actions {
  background: 0.0; /* это цвет фона панели с кнопками*/
}

@media screen and (min-width: 1px) {
  .correct-mob-version {
    color: inherit;
  }
}

.shikista {
  color: white;
}

@media screen and (min-width: 1px) {
  html:root {
    --white-color: 198, 203, 241;
    --light-color: 164, 172, 229;
    --dark-color: 122, 132, 208;
    --bright-color: 118, 133, 245;
    --dull-color: 108, 112, 146;
    --input-color: 77, 79, 165;
    --hover-bottoms-1: 27, 27, 62;
    --buttoms-color: 45, 45, 103;
    --hover-buttoms-2: 156, 98, 25;
    --very-high-rating: 114, 124, 199;
    --high-rating: 66, 75, 143;
    --average-rating: 51, 58, 113;
    --small-rating: 36, 43, 91;
    --time-filled: 53, 58, 132;
    --time-empty: 24, 26, 64;
    --anime-inprocess: 69, 146, 76;
    --anime-complete: 41, 107, 47;
    --manga-inprocess: 189, 15, 86;
    --manga-complete: 153, 0, 62;
    --hover-color: 210, 137, 45;
    --shadows-color: 110, 120, 190;
    --block-color: 43, 42, 97;
    --menu-back: 25, 25, 53;
    --nick-cover: 71, 49, 156;
    --popup-color: 36, 35, 83;
    --hundred: 1;
  }
}

.activity .graph.vertical .line .bar {
  box-sizing: content-box;
  transform: translateY(1px);
  transform-origin: center bottom;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-name: activity;
}
.activity .graph.vertical .line .bar:hover {
  animation-name: none;
  transform: none;
}
.activity .graph.vertical .line:nth-of-type(6n+2) .bar {
  animation-delay: -.25s;
}
.activity .graph.vertical .line:nth-of-type(6n+4) .bar {
  animation-delay: -.5s;
}
.activity .graph.vertical .line:nth-of-type(6n+3) .bar {
  animation-delay: -.75s;
}
.activity .graph.vertical .line:nth-of-type(6n+6) .bar {
  animation-delay: -1s;
}
.activity .graph.vertical .line:nth-of-type(6n+5) .bar {
  animation-delay: -1.25s;
}
@keyframes activity {
  0%, 100% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(7px);
  }
}

/*Попробую потом изменить*/
header .header-menu__item--comments {
  display: none;
}

.c-additionals {
  display: none;
}

.p-profiles-show.x1200 .profile-content .c-right > .block:last-child,
.p-profiles-show.x1200 .profile-content .c-right > .subcontent:last-child {
    display: none;
}

.block.avatar {
    display: none;
}
